body {
	background-color: #2c363f;
	color: #fff;
	margin-top: 0px;
    background-image: url('../img/panelbg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;

	/*Make everything draggable.*/
	-webkit-app-region: drag;
	-webkit-user-select: none;
	font-family: 'Source Sans Pro' !important;
}
button {
  -webkit-app-region: no-drag;
}
form input[type=text] {
  -webkit-app-region: no-drag;
}
p {
	font-size: 15px !important;
}
label {
    margin-bottom: 15px;
}
.bolt {
    color: #2c363f !important;
}
.status-message {
	padding-top: 0px;
}
.centered {
	text-align: center !important;
}
.padded {
    padding-top: 30px;
}
.title {
	padding-top: 30px !important;
	padding-bottom: 100px;
	font-size: 66px;
	font-family: 'Sanchez', serif;
	/*color: #4a4a4a;*/
	color: #fff;
}
.panel-title {
    text-align: center;
    font-size: 30px;
    padding-top: 27px;
    padding-bottom: 70px;
    color: #2c363f;
    font-family: 'Sanchez', serif;
}
.control-buttons {
	padding-top: 30px;
	padding-bottom: 15px;
    text-align: center;
}
.form-container {
	min-width: 80%;
/*	position: absolute;*/
	text-align: center !important;
	margin-left: 40px;
	margin-right: 40px;
    font-family: 'Source Sans Pro' !important;
}
.footer {
	padding-top: 10px;
}
.dropdown-toggle {
    background: #2c363f !important;
    color: #fff !important;
}
.dropdown-menu>li>a {
    color: #333 !important;
}
a:link {
    color: #2abc68;
    text-decoration: none;
}
a:visited {
    color: #2abc68;
    text-decoration: none;
}
a:hover {
    color: #85f7b5;
    text-decoration: none;
}
a:active {
    color: #2abc68;
    text-decoration: none;
}

/*Form fields*/

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus, select{
    background:#fff;
    color:#777;
    border-left:0px;
    outline:none;
}

input[type=text]:hover input[type=password]:hover input[type=email]:hover input[type=tel]:hover,  select{
    background:#fff;
}

input[type=text], input[type=password], input[type=email], input[type=tel], select{
    width:calc(100% - 150px);
    border-radius:0px;
    border:0px solid #ddd;
    padding:0px 9px;
    margin-bottom: 15px;
    height:40px;
    line-height:40px;
    color:#777;
    background:#fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.bootstrap-select.form-control:not([class*=col-]) {
    width:calc(100% - 150px);
    float: right;
    margin-bottom: 21px;
}

.smallfield input {
    float: right !important;
    width:calc(100% - 170px);
}
.smallfield label {
    text-align: right !important;
    clear: both !important;
    float:left !important;
    margin-right:15px !important;
}
.row {
    padding-left: 25px;
    padding-right: 25px;
}

.btn-danger {
    background: #fb2828 !important;
    border-radius: 0px !important;
}
.btn-danger:hover {
    background: #ff5c5c !important;
}
.btn {
    margin-top:0px;
    padding:9px;
    background:#2abc68;
    color:white;
    border-radius:0px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn:focus {
    outline:0px;
    color:white;
}

.btn:hover {
    background:#46cc7f;
    color:white;
}

/*Checkboxes*/

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    float: right !important;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.checkbox label, .radio label {
    /*padding-top: 10px;*/
    padding-left: 0px;
    padding-bottom: 10px;

}
.form-inline .checkbox label, .form-inline .radio label {
    width: 100%;
}